/__pycache__
llama-2-7b-chat.ggmlv3.q8_0.bin

# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Ignore .terraform directory which contains plugins and modules
**/.terraform/*

# Ignore .terraformrc and .terraformrc.json files
.terraformrc
.terraformrc.json

# Ignore .tfvars files containing sensitive information
*.auto.tfvars
*.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore crash.log files
crash.log